<div id="detailModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detalhes</h5>
            </div>
            <div class="modal-body">
                <div class="vehicle-input">
                    <label for="vehicle">Veículo</label><br>
                    <input type="text" id="vehicle" name="vehicle" value="John"><br>
                </div>
                <div class="brand-input">
                    <label for="brand">Marca</label><br>
                    <input type="text" id="brand" name="brand" value="John"><br>
                </div>
                <div class="year-input">
                    <label for="year">Ano</label><br>
                    <input type="text" id="year" name="year" value="John"><br>
                </div>
                <div class="description-input">
                    <label for="vehicle">Descrição</label><br>
                    <input type="text" id="description" name="description" value="John"><br>
                </div>
                <div class="sold-input">
                    <input type="checkbox" name="vendido" value="vendido">
                    <label for="vendido">Vendido</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Salvar</button>
            </div>
        </div>
    </div>
</div>